#hero {
  background-image: url('../img/giraffes.jpg');
  background-size: cover;
  background-position: center center;
  position: relative;
  top: 0;
  bottom: 0;
  height: 100vh;
  z-index: -10;
}
body {
  background: #eee;
  margin: 0px;
}
#hero-imageoverlay {
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: -5;
}
.name {
  color: white;
  font-family: 'Lobster', cursive;

  font-size: 70;
  float: center;
}
.wrapper {
  width: 600px;
  margin: 0 auto 0 auto;

}
