#hero {
  background-image: url('../img/almost.jpg');
  background-size: cover;
  background-position: center center;
  position: relative;
  top: 0;
  bottom: 0;
  height: 100vh;
  z-index: -10;
  margin: 0;
}

#hero-imageoverlay {
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: -5;
  margin: 0;
  back
}
body {
  margin: 0;
}
.wrapper {
  height: auto;
}
.heading {
  height: 100px;
  width: 600px;
  padding: 20px;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  color: white;
  border-color: white;
  font-size: 35;
  float: right;
}
.navigation {
  height: 50px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 40;
}
.main-content {
  min-height: 400px;
  width: 500px;
  float: left;
  text-size: 35;
  text color: white;
}
nav>ul>li> {
  list-style: none;
  float: left;
}
nav>ul>li>a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  font-family: monospace;
  padding: 0 20px 0 20px;
}
nav>ul> {
  position: absolute;
  right: 0;
}
.btn {
  width: 130px;
  height: 40px;
  font-size: 16px;
  background: #34f315;
  
}
