body {
  margin: 0;
}
#hero {
  background-image: url('../img/almost.jpg');
  background-size: cover;
  background-position: center center;
  position: relative;
  top: 0;
  bottom: 0;
  height: 100vh;
  z-index: -10;
  margin: 0;
}
#hero-overlay {
  position: absolute;
  background-color: rgba(50, 0, 0, 0.5);
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -5;
  margin: 0;
}
.wrapper {
  width: 600px;
  margin: 0 auto 0 auto;
}
.heading {
  height: 100px;
  padding: 20px;
  text-align: center;
}
.navigation {
  height: 50px;
}
.moreinfo {
  min-height: 400px;
  width: 400px;
  float: left;
  font-family: 'PT Sans', sans-serif;
  color: white;
  font-size: 50;
}
.content {
  width: 200px;
  float: right;
  min-height: 400px;
}
.footer {
  clear: both;
  height: 40px;
}
