/*font-family: 'Abel', sans-serif;
font-family: 'Patua One', cursive;
font-family: 'Montserrat', sans-serif*/
*{
  padding: 0;
  margin: 0;
}
body {
  background: #eee;
}
.bg-image {
  background-image: url('../img/giraffes.jpg')
  background-size: cover;
  background-position: center center;
  position: relative;
  top: 0;
  bottom: 0;
  height: 100vh;
  z-index: -10;
}
